body {
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.86), /* Lighter color in the center */
        rgba(0, 0, 0, 0.9) /* Darker color on the outside */
    );
    color: white;
    font-family: 'roboto', sans-serif;
    background-repeat: no-repeat;
    height:max-content;
}

/*Header and navbar*/

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar a:hover {
    color: lightblue;
}

header {
    position: relative;
    padding: 0 2em;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2em;
}

.navbar .toggle_btn {
    content: url('assets/bars-solid.svg');
    height: 20px;
    cursor: pointer;
    display: none;
}

/* Accordion */

.accordion {
    max-width: 400px;
    /* Optional stuff next 4 lines*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;

    background: #3d3d3d;
}

.accordion__label,
.accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: block;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
    content: url('assets/add-symbol.svg');
    position: absolute;
    right: 20px;
    background-size: contain;
    transition: transform 0.2s;
    transform-origin: center;
}

.accordion__content {
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    animation: fadeIn 1s;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
    opacity: 1;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: rotate(45deg);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }