body {
    background: radial-gradient(
        ellipse at center,
        rgba(36, 29, 63, 0.95), /* Lighter color in the center */
        rgba(36, 29, 63, 1) /* Darker color on the outside */
    );
    color: white;
    font-family: 'roboto', sans-serif;
    background-repeat: no-repeat;
    margin: 0;
}

/* 
Hack the North Colors
1st bg: #141625 (circular type gradient, lighter in middle)
2nd bg: 
*/

/*Header and navbar*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: lightblue;
}

header {
    position: relative;
}

#logo {
    max-width: 8em;
}

.navbar {
    margin: 0 auto;
    background-color: #19142c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar .links {
    display: flex;
    gap: 2em;
}

.navbar .toggle_btn {
    /*content: url('assets/bars-solid.svg');*/
    height: 20px;
    cursor: pointer;
    display: none;
}

.bars-icon {
    display: block;
}

.close-icon {
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2em;
    top: 3em;
    width: 30%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.dropdown_menu li {
    padding: 0.7em;
}

/* Responsive */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}


/* Intro Page */

.intro {
    text-align: center; /* Center align the content horizontally */
}

.intro {
    margin: auto;
    width: 80%;
}

.btn-register {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  }
  
  .btn-register:hover {
    background-position: right top;
  }
  
  .btn-register:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-register {
      transition: linear;
    }
  }



/* About */


/* Accordion */
.accordion {
    max-width: 400px;
    /* Optional stuff next 4 lines*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;

    background: #3d3d3d;
}

.accordion__label,
.accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: block;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
    content: url('assets/add-symbol.svg');
    position: absolute;
    right: 20px;
    background-size: contain;
    transition: transform 0.2s;
    transform-origin: center;
}

.accordion__content {
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    animation: fadeIn 1s;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
    opacity: 1;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: rotate(45deg);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }