body {
    color: white;
    font-family: 'roboto', sans-serif;
    margin: 0;
    width: 100%;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

/* 
Hack the North Colors
1st bg: #141625 (circular type gradient, lighter in middle)
2nd bg: 
*/

/* Header and navbar */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

header {
    position: relative;
}

.logo img{
    width: 7em;
    padding-left: 1em;
}

.navbar {
    margin: 0 auto;
    background-color: #19142c;
    display: flex;
    align-items: center;
    min-height: 6vh;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2em;
}

.nav-link {
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
.navbar .toggle_btn {
    height: 20px;
    cursor: pointer;
    display: none;
    padding-right: 1em;
}

.bars-icon {
    display: block;
}

.close-icon {
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 3em;
    top: 3em;
    width: 30%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.dropdown_menu li {
    padding: 0.7em;
}

/* Responsive */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

/* Intro Page */

main {
    background: rgb(36, 29, 63);
    /*background-color: black;*/
    min-height: 86vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.intro {
    margin: 0 auto;
    padding-top: 6em;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-logo {
    width: 60em;
    padding: 0.2em;
}

.info {
    font-size: 2rem;
    padding: 0.2em;
}

.button {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* 10 */
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #fc8a68;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 0.4em;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .icon {
    width: 0.9em;
    height: 0.9em;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }  


@media (max-width: 1300px) {
    .main-logo {
        width: 50em;
    }

    .info, .button {
        font-size: 1.7rem;
    }
}

@media (max-width: 992px) {
    .main-logo {
        width: 40em;
    }

    .info, .button {
        font-size: 1.5rem;
    }

}

@media (max-width: 720px) {
    .main-logo {
        width: 25em;
    }

    .info, .button {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .main-logo {
        width: 20em;
    }

    .info, .button {
        font-size: 1rem;
    }
}

/* spacer */
.spacer {
    aspect-ratio: 960/400;
    width: 100%;
    margin-top: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('assets/layered-waves-haikei.svg');
}

/* About */

#about {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 6em;
    max-width: 60%;
    margin-bottom: 20em;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    border: 2px solid #fff;
    --shadow-color: hsl(220deg 100% 55%);
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
}

.container-top {
    border-bottom: solid 2px #fff;
    padding: 0.8em;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(240, 234, 234);
    background-color: rgba(107, 138, 252, 255);
}

.container-content {
    background-color: rgba(38, 44, 80, 255);
    color: rgb(209, 208, 208);
    padding: 0.8em;
    font-size: 1.2rem;
    line-height: 2rem;
    flex-grow: 1;
}

.container-content img {
    width: 100%;
}

@media (max-width: 992px) {
    #about {
        max-width: 85%;
    }

    .container {
        max-width: 80%;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .logo img{
        width: 4em;
    }

    .container-top {
        font-size: 1.6rem;
    }

    .container-content {
        font-size: 1.1rem;
    }
}

@media (max-width: 720px) {
    #about {
        flex-direction: column;
    }

    .container {
        max-width: 100%;
    }
}

/* stuff
*/

.stuff {
    background-color: #0c0c3b;
}

/* Accordion */
#accordion {
    display: flex;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 5em;
}

.cols {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.accordion__label {
    padding: 1em 1.2em;
    font-size: 1.1rem;
}

#accordion p {
    margin: 0;
}

.accordion__content {
    padding: 0em 1.2em;
    padding-bottom: 1em;
}

.accordion__label {
    display: block;
    color: rgb(240, 234, 234);
    font-weight: 800;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
    content: url('assets/add-symbol.svg');
    position: absolute;
    right: 1.5em;
    background-size: contain;
    transition: transform 0.2s;
    transform-origin: center;
}

.accordion__content {
    font-size: 1rem;
    display: none;
    animation: fadeIn 1s;
    color: rgb(209, 208, 208);
}

#accordion .container {
    width: calc(80% - 20px); 
    border-top: none;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
    opacity: 1;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: rotate(45deg);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 720px) {
    #accordion {
        flex-direction: column;
        align-items: center;
    }
    #accordion .container {
        width: calc(100% - 20px); 
    }
    .cols {
        width: 90%;
        margin: 0;
    }
}

/* footer */
footer {
    background-color: #07071f;
    color: white;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
     
.left {
    font-size: 1.2rem;
}

.right {
    display: flex;
}

.right a {
    margin-left: 1em;
}

.right a img {
    width: 2em;
}