/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #e3e2f06f;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #1c183ad5;
}*/

/* Text highlight CSS, change colour to whatever you want, just temp */
::selection{
  background-color: rgba(34, 255, 0, 0.329);
  color: rgb(255, 255, 255);
}

body {
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: JetBrains Mono, monospace;
    overflow-x: hidden !important;
    background-color:#1B1630;
}

html {
    scroll-behavior: smooth;
}

/* Header and navbar */
li {
    list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
  padding-left: 1em;
}

.logo img{
  width: 7em;
}

.navbar {
  margin: 0 auto;
  background-color: rgb(25, 20, 45, 0.9);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  min-height: 6vh;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2em;
}

.toggle_btn {
  padding: 1em;
}

.nav-link {
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: white;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }

.navbar .toggle_btn {
  cursor: pointer;
  display: none;
}

.dropdown_menu {
    position: absolute;
    width: 100vw;
    background-color: rgba(25, 20, 45, 0.9);
    backdrop-filter: blur(5px);
    flex-direction: column;
    transition: all 0.5s;
    max-height: 40vh;
    overflow: hidden;
    text-align: center;
}

.close-icon.hide, .bars-icon.hide {
  display: none;
}

.dropdown_menu.hide {
  max-height: 0;
}

.dropdown_menu li {
    padding-bottom: 1.2em;
}

/* Responsive */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

/* Intro Page */

main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 94vh;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #241d40;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
    background-attachment: fixed; /* Keeps the background still effect */
}

.intro {
    height: 90vh;
    margin: 0 auto;
    padding-top: 6em;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro {
    width: 100%;
  }


.main-logo {
    width: 50em;
    padding: 0.2em;    
    filter: drop-shadow(0px -20px 6px rgba(0, 0, 0, 0.885)); 
    transition: all 0.2s ease-in-out;
    z-index: 0;
}

#typedtext{
  padding: 0.2em;    
  filter: drop-shadow(0px -10px 3px rgb(0, 0, 0)); 
  transition: all 0.2s ease-in-out;
  font-size: 1.8rem;
}

/* Glow button : */
.glowbutton {
    font-family: JetBrains Mono, monospace;
    --glow-color: rgba(180, 242, 245, 0.904);
    --glow-spread-color:rgba(113, 180, 182, 0.78);
    --btn-color: rgb(61, 127, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    cursor: pointer;
    margin-top: 1.5em;
    color: var(--glow-color);
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.75em 0.15em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.65em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    z-index: 10;
    font-size: 1.2rem;
}

.glowbutton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.4;
  rotate: 180deg;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  transition: all 0.3s;
}

.glowbutton.afterHover::after {
  opacity: 0.7;
  z-index: 10;
}

.glowbutton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.15em var(--glow-color),
    0 0 4em 1.3em var(--glow-spread-color),
    inset 0 0 0.45em 0.05em var(--glow-color);
}

.glowbutton:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
    z-index: 11;
}

@media (max-width: 1300px) {
    .main-logo {
        width: 40em;
    }

    #typedtext {
        font-size: 1.4rem;
    }

    .glowbutton {
      font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .main-logo {
        width: 30em;
    }

    #typedtext {
      font-size: 1.2rem;
    }

  .glowbutton {
    font-size: 0.95rem;
  }

  .main-logo {   
    filter: drop-shadow(0px -13px 4px rgba(0, 0, 0, 0.885)); 
  }

  #typedtext{  
    filter: drop-shadow(0px -7px 2.2px rgb(0, 0, 0)); 
  }
}

@media (max-width: 560px) {
  .main-logo {   
    filter: drop-shadow(0px -11px 3px rgba(0, 0, 0, 0.885)); 
  }

  #typedtext{  
    filter: drop-shadow(0px -6px 2px rgb(0, 0, 0)); 
  }

    .main-logo {
      width: 27em;
  }

  #typedtext {
    font-size: 1.1rem;
  }
  .glowbutton {
  --glow-color: rgba(180, 242, 245, 0.822);
  --glow-spread-color:rgba(99, 163, 165, 0.78);
  }
}

@media (max-width: 480px) {
  .main-logo {
      width: 23em;
  }

  #typedtext {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
    .main-logo {
        width: 20em;
    }

    #typedtext {
      margin-bottom: 0.8em;
    }
}

@media (max-width: 380px) {
  .main-logo {
      width: 18em;
  }

  .glowbutton {
    margin-top: 0.6em;
  }

  #typedtext {
    margin-bottom: 0.7em;
    font-size: 0.9em;
  }
}

.star {
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate3d(0px, 0px, 0px) rotate(0.2812deg);
}

.gear {
    height: 5em;
    position: absolute;
    opacity: 0.7;
}

#gear1 {
    left: 22%;
    top: 32%;
}

#gear2 {
    left: 72%;
    top: 23%;
}

#computer-asset {
    width: 25em;
    position: absolute;
    top: 27%;
    left: 55%;
    opacity: 0.75;
}

/* About */

#about {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15vh;
    max-width: 60%;
    border-radius: 5px;
    margin-bottom: 10em;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    border: 2px solid #fff;
    --shadow-color: hsl(220deg 100% 55%);
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
    border-radius: 5px;
    height: fit-content; /* Set the height to fit its content */
}

.container-top {
    border-bottom: solid 2px #fff;
    padding: 0.8em;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(240, 234, 234);
    background-color: rgba(107, 138, 252, 255);
}

.container-content {
    background-color: rgba(38, 44, 80, 255);
    color: rgb(209, 208, 208);
    padding: 0.8em;
    font-size: 1.2rem;
    line-height: 2rem;
    flex-grow: 1;
}

.container-content.jac-pic {
  padding: 0;
  height: 320px;
  aspect-ratio: 2/1; /* Set aspect ratio to 1:1 */
  overflow: hidden; /* Ensure image does not overflow container */
}

.container-content img {
  width: 100%; /* Ensure image fills its container */
  height: 100%; /* Ensure image fills its container */
  object-fit: cover; /* Cover the entire container with the image */
}

.about-info {
    margin-bottom: 6em;
}

.about-pic {
  min-width: 600px;
}

@media (max-width: 1920px) {
  .about-info, .about-pic {
    min-width: 400px;
  }

  .container-content.jac-pic {
    height: 213px;
  }
}

@media (max-width: 1350px) {
  #about {
    flex-direction: column;
  }

  .about-info, .about-pic {
    min-width: 100%;
    min-height: 100%;
  }

  .container-content.jac-pic {
    height: 20%;
  }
}

@media (max-width: 992px) {
    #about {
      max-width: 70%;
      flex-direction: column;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .logo img{
        width: 4em;
    }

    .container-top {
        font-size: 1.6rem;
    }

    .container-content {
        font-size: 1.1rem;
    }

    #gear1 {
        left: 12%;
        top: 32%;
    }

    #gear2 {
        left: 78%;
        top: 25%;
    }

    .gear {
        height: 4em;
    }

    #computer-asset {
        width: 18em;
        top: 27%;
        left: 55%;
    }
}

@media (max-width: 720px) {
    #about {
      max-width: 80%;
    }

    .container-top {
      font-size: 1.3rem;
    }

  .container-content {
      font-size: 1rem;
  }

    #gear1 {
        left: 12%;
        top: 22%;
    }

    #gear2 {
        left: 72%;
        top: 17%;
    }
    .gear {
        height: 3em;
    }

    #computer-asset {
        width: 12em;
        top: 21%;
        left: 50%;
    }
}

@media (max-width: 385px) {
    #computer-asset {
        width: 10em;
        top: 18%;
        left: 45%;
    }

    #gear1 {
        left: 12%;
        top: 20%;
    }

    #gear2 {
        left: 72%;
        top: 16%;
    }

    .gear {
        height: 2.5em;
    }
}

/* stuff */

.stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#0c0c3b, #2c0c3b);
    z-index: 1;
}

h1 {
  padding-bottom: 1.5em;
  font-size: 2em;
}

.accordion-title {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1.5em;
    width: 60%;
}

.dummy {
    opacity: 0;
}

/* Accordion */
#faq {
    display: flex;
    overflow: hidden;
    width: 85%;
    padding-bottom: 8em;
}

.cols {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

#faq .container {
  width: 100%;
}

.accordion__label {
    padding: 1em 1.2em;
    padding-right: 3em;
    font-size: 1.3rem;
}

#faq p {
    margin: 0;
}

.accordion__content {
    padding: 0em 1.2em;
    padding-bottom: 1em;
}

.accordion__label {
    display: block;
    color: rgb(240, 234, 234);
    font-weight: 800;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    align-items: center;
}

.accordion__label::after {
    content: url('../images/add-symbol.svg');
    position: absolute;
    transform-origin: center;
    top: calc(50% - 10px);
    right: 1.5em;
    background-size: contain;
    transition: transform 0.2s;

}

.accordion__content {
    font-size: 1.1rem;
    display: none;
    animation: fadeIn 1s;
    color: rgb(209, 208, 208);
}

#faq .container {
    border-top: none;
    --shadow-color: hsla(305, 81%, 62%, 0.944);
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
}

#faq .container:nth-child(2) {
    border-top: white 2px solid;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
    opacity: 1;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: rotate(45deg);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 920px) {
    
  #faq {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .accordion__label {
    font-size: 1.2rem;
  }

  .accordion__content {
    font-size: 1rem;
  }

  #faq .container {
    min-width: 100%;
  }

  .dummy {
    display: none;
  }

  .cols {
    width: 65%;
  }

  .accordion-title {
    padding-bottom: 1.2em;
    margin-right: auto;
  }

  h1 {
    padding-bottom: 1.2em;
  }

}

@media (max-width: 720px) {
    
    .cols {
      width: 85%;
    }

    .accordion-title, h1 {
      font-size: 1.5rem;
    }

    h1 {
      padding-bottom: 1em;
    }

    .accordion__label {
      font-size: 1rem;
    }
  
    .accordion__content {
      font-size: 0.85rem;
    }
}

/* footer */
footer {
    background-color: #07071f;
    color: white;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
     
.left {
    font-size: 1rem;
}

.right {
    display: flex;
}

.right a {
    margin-left: 1em;
}

.right a img {
    width: 2em;
}

@media (max-width: 720px) {

    .left {
        font-size: 0.9rem;
    }
}


  /* Wave divider */

.editorial {
    display: block;
    width: 100%;
    height: 65px;
    max-height: 6%;
    margin-top: 60px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
  }


.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}


/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */

#team {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

#cards {
    /* width: 70%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; 
}

.card {
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: rgb(40, 44, 81);
    --main-color: #fefefe;
    width: 215px;
    height: 324px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    --shadow-color: hsla(280, 100%, 55%, 0.944);
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
  }



  .card:hover {
    --shadow-color: hsla(280, 91%, 64%, 0.944);
    filter: drop-shadow(
      1px 2px 12px var(--shadow-color)
    );
  }
  
  .card-photo {
  /* clear and add new css */
    transform: scale(0.3) translate(220px, 230px);
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    margin-left: -128px;
    margin-top: -250px;
    /* background: radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 14% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 10% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 7.5% 29%/20% 20%,radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 86% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 90% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 92.5% 29%/20% 20%,radial-gradient(circle at 50% 0,#ffdab9 29.5%,#8b4513 30%,#8b4513 35%,rgba(139,69,19,0) 35.5%) 50% 95%/40% 20%,radial-gradient(ellipse at 50% 100%,rgba(139,69,19,0) 49%,#8b4513 49.5%,#8b4513 52%,rgba(139,69,19,0) 52.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(255,255,255,0) 35%,white 35%,white 45%,rgba(255,255,255,0) 45.5%) 50% 89%/40% 13%,linear-gradient(#8b4513,#8b4513) 37% 100%/.25em 22%,linear-gradient(#8b4513,#8b4513) 63% 100%/.25em 22%,linear-gradient(80deg,rgba(0,0,0,0) 50%,#333 50.5%) 24% 100%/1em 18%,linear-gradient(-80deg,rgba(0,0,0,0) 50%,#333 50.5%) 76% 100%/1em 18%,linear-gradient(162deg,rgba(0,0,0,0) 10%,#333 10%) 30% 100%/1.5em 21%,linear-gradient(-162deg,rgba(0,0,0,0) 10%,#333 10%) 70% 100%/1.5em 21%,radial-gradient(ellipse at 100% 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 0 100%/37% 29%,radial-gradient(ellipse at 0 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 100% 100%/37% 29%,radial-gradient(ellipse at 50% 100%,#222 51%,rgba(0,0,0,0) 51.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(0,0,0,0.15) 40%,rgba(0,0,0,0) 40.5%) 50% 82%/20% 20%,linear-gradient(to right,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(to left,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(#ffdab9,#ffdab9) 50% 80%/20% 20%,linear-gradient(#48240a,#48240a) 50% 100%/65% 60%,radial-gradient(circle,white 30%,rgba(255,255,255,0) 62%) 50% 50%/100% 100%; */
    background-color: #ccc;
    background-repeat: no-repeat;
    border-radius: 30%;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.693));
    transition: transform 0.3s ease-out;
  }
  
  .card-title {
    text-align: center;
    color: var(--font-color);
    margin-top: 17vh;
    font-size: 20px;
    font-weight: 400;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }
  
  .card-title span {
    font-size: 15px;
    color: var(--font-color-sub);
  }
  
  .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 10px;
    gap: 20px;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    margin-top: 1.5vh;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn svg {
    width: 80%;
    height: 100%;
    fill: var(--main-color);
  }
  
  .card:hover > .card-socials {
    opacity: 1;
    height: 35px;
  }
  
  .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
  }
  
  
  .card-photo:hover {
    transition: ease-in-out 0.3s;
    transform: scale(0.35) translate(185px, 200px);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.795));
  }
  @media (max-width: 1300px) {
  
    .card-title {
      margin-top: 17vh;
    }
  }
    


@media (max-width: 992px) {
  
  .card-title {
    margin-top: 16vh;
  }
}
  
@media (max-width: 720px) {
  .card {
    min-width: 100%;
  }

  .card-title {
    margin-top: 18vh;
  }
}