::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #1b1630;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: #1c183ad5;
}
::-moz-selection {
  color: #ffffff;
  background: rgb(163, 98, 154);
}
::selection {
  color: rgb(255, 255, 255);
  background: rgba(207, 130, 211, 0.523);
}
.change-language {
  padding: 2px;
  background-color: rgba(107, 138, 252, 255);
  border: 2px solid #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
}
.change-language button {
  background-color: rgba(107, 138, 252, 255);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: JetBrains Mono, monospace;
  overflow-x: hidden !important;
  background-color: #1b1630;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  z-index: -1;
}
html {
  scroll-behavior: smooth;
}
main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 83vh;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #241d40;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  background-attachment: fixed;
}
.intro {
  margin: 100%;
  height: 90vh;
  margin: 0 auto;
  padding-top: 1em;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro {
  width: 100%;
}
.main-logo {
  filter: drop-shadow(0px -20px 6px rgba(0, 0, 0, 0.885));
  transition: all 0.2s ease-in-out;
  z-index: 0;
}
#typedtext {
  padding: 0.2em;
  filter: drop-shadow(0px -10px 3px rgb(0, 0, 0));
  transition: all 0.2s ease-in-out;
  font-size: 1.4rem;
}
.glowbutton {
  font-family: JetBrains Mono, monospace;
  --glow-color: rgba(180, 242, 245, 0.904);
  --glow-spread-color: rgba(113, 180, 182, 0.78);
  --btn-color: rgb(61, 127, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  cursor: pointer;
  margin-top: 1.5em;
  color: var(--glow-color);
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 0.75em 0.15em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.65em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  z-index: 10;
  font-size: 1rem;
}
.glowbutton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.4;
  rotate: 180deg;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  transition: all 0.3s;
}
.glowbutton.afterHover::after {
  opacity: 0.7;
  z-index: 10;
}
.glowbutton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.15em var(--glow-color),
    0 0 4em 1.3em var(--glow-spread-color),
    inset 0 0 0.45em 0.05em var(--glow-color);
}
.glowbutton:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
  z-index: 11;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  border: 2px solid #fff;
  --shadow-color: hsl(220deg 100% 55%);
  filter: drop-shadow(1px 2px 8px var(--shadow-color));
  border-radius: 5px;
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  border-radius: 5px;
  margin-bottom: 5em;
  max-width: 100%;
}
.container-top {
  border-bottom: solid 2px #fff;
  padding: 0.8em;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(240, 234, 234);
  background-color: rgba(107, 138, 252, 255);
}
.container-content {
  background-image: linear-gradient(#282c51, #0f1336);
  color: rgb(209, 208, 208);
  padding: 0.8em;
  font-size: 1.2rem;
  line-height: 2rem;
  flex-grow: 1;
}
.about-info {
  margin-bottom: 3em;
  margin-right: 2em;
  max-width: 40%;
}
.about-pic {
  max-width: 40%;
  margin-left: 2em;
}
@media (max-width: 992px) {
  #about {
    max-width: 70%;
    flex-direction: column;
  }
  .about-info {
    max-width: 100%;
    margin-right: 0;
  }
  .about-pic {
    max-width: 100%;
    margin-left: 0;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .logo img {
    width: 4em;
  }
  .container-top {
    font-size: 1.6rem;
  }
  .container-content {
    font-size: 1.1rem;
  }
}
@media (max-width: 720px) {
  #about {
    max-width: 80%;
  }
}
.stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#0c0c3b, #2c0c3b);
  z-index: 1;
}
h1 {
  font-size: 2em;
  margin: 0;
  margin-top: 5vw;
}
.accordion-title {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1.5em;
  width: 60%;
}
.dummy {
  opacity: 0;
}
#faq {
  display: flex;
  width: 85%;
  padding-bottom: 8vh;
}
.cols {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
#faq .container {
  min-width: 80%;
  border-top: none;
  --shadow-color: hsla(305, 81%, 62%, 0.944);
}
.accordion__label {
  padding: 1em 1.2em;
  padding-right: 3em;
  font-size: 1.3rem;
}
#faq p {
  margin: 0;
}
.accordion__content {
  padding: 0 1.2em;
  padding-bottom: 1em;
}
.accordion__label {
  display: block;
  color: rgb(240, 234, 234);
  font-weight: 800;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  align-items: center;
  filter: none;
}
.accordion__label::after {
  content: url("../images/add-symbol.svg");
  position: absolute;
  transform-origin: center;
  top: calc(50% - 10px);
  right: 1.5em;
  background-size: contain;
  transition: transform 0.2s;
}
.accordion__content {
  font-size: 1.1rem;
  display: none;
  animation: fadeIn 1s;
  color: rgb(209, 208, 208);
  filter: none;
}
#faq .container:nth-child(2) {
  border-top: white 2px solid;
}
.accordion__input {
  display: none;
}
.accordion__input:checked ~ .accordion__content {
  display: block;
  filter: none;
  opacity: 1;
}
.accordion__input:checked ~ .accordion__label::after {
  transform: rotate(45deg);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1300px) {
  #faq .container {
    min-width: 90%;
  }
}
@media (max-width: 920px) {
  #faq {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  #faq .container {
    filter: none;
  }
  .accordion__label {
    font-size: 1.2rem;
  }
  .accordion__content {
    font-size: 1rem;
  }
  #faq .container {
    min-width: 100%;
  }
  .dummy {
    display: none;
  }
  .cols {
    width: 65%;
  }
  .accordion-title {
    padding-bottom: 1.2em;
    margin-right: auto;
  }
}
@media (max-width: 720px) {
  .cols {
    width: 85%;
  }
  .accordion-title,
  h1 {
    font-size: 1.5rem;
  }
  .accordion__label {
    font-size: 1rem;
  }
  .accordion__content {
    font-size: 0.85rem;
  }
}
.editorial {
  display: block;
  width: 100%;
  height: 65px;
  max-height: 6%;
  margin-top: 30px;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
#team {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}
#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  width: 215px;
  height: 324px;
  background: rgb(40, 44, 81);
  border: 2px solid #fefefe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  filter: none;
}
.card-photo {
  margin-top: 10px;
  width: 165px;
  height: 165px;
  border-radius: 30%;
  transition: transform 0.3s ease-out;
}
.card-photo:hover {
  transform: scale(1.1);
}
.card-title {
  text-align: center;
  margin-top: 1em;
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
}
.card-title span {
  font-size: 15px;
  color: #7e7e7e;
}
.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 10px;
  gap: 20px;
  transition: 0.5s;
}
.card:hover > .card-socials {
  opacity: 1;
  height: 35px;
}
.card-socials-btn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.card-socials-btn svg {
  width: 80%;
  height: 100%;
  fill: #fefefe;
}
.card-socials-btn:hover {
  margin-top: 4px;
}
@media (min-width: 720px) {
  .card {
    filter: drop-shadow(1px 2px 8px var(--shadow-color));
    --shadow-color: hsla(280, 100%, 55%, 0.944);
  }
}
@media (max-width: 720px) {
  .card {
    min-width: 95%;
  }
}
hr {
  border: none;
  border-top: 1 solid #ccc;
  margin: 20px 0;
  width: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reversed {
  0% {
    transform: rotate(-2.1deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#gear1 {
  max-width: 58%;
  animation: spin 20s linear infinite;
}
#gear2 {
  max-width: 42%;
  animation: spin-reversed 20s linear infinite;
  transform: rotate(30deg);
}
#title {
  width: 100%;
}
.logo-title {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-logo {
  width: 800px;
  padding-left: 8%;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
}
.gears {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  position: relative;
  right: 20%;
  top: -10%;
}
@media (max-width: 1300px) {
  .main-logo {
    width: 600px;
  }
  #typedtext {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .main-logo {
    width: 500px;
  }
  #typedtext {
    font-size: 1.2rem;
  }
  .glowbutton {
    font-size: 0.95rem;
  }
}
@media (max-width: 560px) {
  .main-logo {
    width: 400px;
  }
  #typedtext {
    font-size: 1.1rem;
  }
  .glowbutton {
    --glow-color: rgba(180, 242, 245, 0.822);
    --glow-spread-color: rgba(99, 163, 165, 0.78);
  }
}
@media (max-width: 480px) {
  .main-logo {
    width: 350px;
  }
  #typedtext {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .main-logo {
    width: 330px;
  }
  #typedtext {
    margin-bottom: 0.8em;
  }
}
